<!-- List of Contacts -->
<ion-list>
    <ion-item-divider>
        <ion-label>#</ion-label>
    </ion-item-divider>
    
    <ion-item-sliding>
        <ion-item-options side="start">
            <ion-item-option color="danger">Delete</ion-item-option>
        </ion-item-options>
        <ion-item href="" detail="false">
            <ion-avatar slot="start">
                <img src="{{BLANK_AVATAR}}">
            </ion-avatar>
            <ion-label>Item 1</ion-label>
        </ion-item>
    </ion-item-sliding>

    <ion-item-sliding>
        <ion-item-options side="start">
            <ion-item-option color="danger">Delete</ion-item-option>
        </ion-item-options>
        <ion-item href="" detail="false">
            <ion-avatar slot="start">
                <img src="{{BLANK_AVATAR}}">
            </ion-avatar>
            <ion-label>Item 2</ion-label>
        </ion-item>
    </ion-item-sliding>
</ion-list>