.img-container {
    width: 350px;
    margin: 20px auto 0px; 
}

.contact-img {
    width: 120px;
    height: 120px;
    margin: 0px auto;
}

.add-image-button {
    position: relative;
    top: -30px;
    left: 190px;
}

.name {
    position: relative;
    top: -40px;
    text-align: center;
    font-size: 28px;
}

//calculate size of icon
.second-subitem {
    margin-left: 44px;
}