<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/home']">
        <ion-icon slot="icon-only" name="arrow-back-outline" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-avatar id="contact-img">
    <ion-img src="{{PLACEHOLDER}}"></ion-img>
  </ion-avatar>
  <ion-list>
    <ion-list-header class="ion-text-center ion-no-padding">
      <ion-label>{{contact.name}}</ion-label>
    </ion-list-header>

    <ion-item lines="none">
      <ion-icon name="call-outline" class="ion-padding-end"></ion-icon>
      <ion-label>{{contact.mobileNumber}}<br>
        <small>mobile</small>
      </ion-label>
    </ion-item>
    <ion-item lines="none" class="second-subitem">
      <ion-label>{{contact.workNumber}}<br>
        <small>work</small><br>
      </ion-label>
    </ion-item>

    <ion-item lines="none">
      <ion-icon name="mail-outline" class="ion-padding-end"></ion-icon>
      <ion-label>{{contact.personalEmail}}<br>
        <small>personal</small><br>
      </ion-label>
    </ion-item>
    <ion-item lines="none" class="second-subitem">
      <ion-label>{{contact.workEmail}}<br>
        <small>work</small><br>
      </ion-label>
    </ion-item>

    <ion-item lines="none" id="options" class="ion-no-padding ion-align-items-center">
      <ion-button class="ion-text-center">Edit</ion-button>
      <ion-button class="ion-text-center">Delete</ion-button>
    </ion-item>
  </ion-list>
</ion-content>
